extends layout

block content

    .projects-container
        h3.projects-header
            |Bugs
            |
            i.fa.fa-bug(aria-hidden='true')
        p.projects-content Determine if moths are equally attracted to different-colored lights
            a(href=' http://www.sciencebuddies.org/science-fair-projects/project_ideas/Zoo_p059.shtml')

