extends layout

block content

    .projects-container
        h3.projects-header
          |DNA
          |
        p.projects-content DNA Model Gum Drops
        p.projects-content Extract Strawberry DNA

