extends layout

block content
  head
    title Hopper DIY
    body.main
      .container-main
        h3.title
          |HOPPER
          |
          span diy
        p.intro code, build, hop!
        .bunny-icon
          p.bunny
            |(\_/)
            br
            |(='.')
        p.hopping Start Hopping!

