extends layout

block content

  div.container
    h3.notable-hoppers Projects
        ul
            each project in projects
                li
                    //img(src=hopper.cover, alt=hopper.name)
                    a(href=project.route)
                        | #{project.name}
                        i.fa(aria-hidden='true', class='fa-' + project.icon)



