extends layout

block content
    .menu-container
        h3.menu
            |Story
            |
            i.fa.fa-book(aria-hidden='true')
        p.projects-content Hopper DIY is on a mission to help young girls be confident pursuing hobbies and careers in STEM.
        p.projects-content Our name comes from Grace Hopper, a female mathematician and computer scientist.
        p.projects-content With our fun, simply DIY projects we can help get you started on the basics!